body {
    font-family: sans-serif;
}

a {
    color: #08c;
    text-decoration: none;
}

.→ {
    display: inline-block;
    background: #eee;
    padding: 1em;
}

.→:hover {
    background: #08c;
    color: #eee
}


label,
input {
    display: block;
}
